apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: jenkins-rbac
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/lmdevops/eks-devops-platform-template
    path: kubernetes/platform/rbac/overlays/dev/
    targetRevision: main
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true